.navbar{
    margin-top: -5px;
    display: flex;
    justify-content:space-between;
    background-color:blanchedalmond;
    border-radius: 10px;
    color:blue;
    border-style:solid;
    
}
.navtitle{
    margin-left: 5%;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbtns{
    display: flex;
    align-items: center;
    gap:20%;
    margin-right: 10%;
}

.navbtn2{
   background-color:#dc3545;

   color:white;
   border: none;
   padding:30%;
   border-radius: 10%;
}
.navbtn2:hover{
    background-color: #ff0000;
    box-shadow: 2px 2px 10px red;
}
.Editor-review-panel{
    margin-top:1%;
    display: flex;
    gap:5%;
    background-color:beige;
    color:blue;
}
.lang-theme{
    display: flex;
    gap: 10px;

    display: flex;
    justify-content:space-evenly;
    padding:2%;
    border-radius: 10px;

}
.editor-langtheme{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.revbtn{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-self:end;
    border-style: none;
    border-radius: 10px;
    background-color:#2563EB;
    color:#FFFFFF ;
}
.revbtn:hover{
    background-color:#3B82F6;
    cursor: pointer;
    box-shadow: 0px 0px 10px 4px blue
} 
select{
height: 30px;
}
select:hover{
    background-color: lightblue
}
select:focus{
    background-color:lightblue
}
.review-words{
    padding: 10px;
    border-color:#2563EB;
    margin-right: 1%;
    margin-bottom:1%;
    border-style:solid;
    width: 100%;
    border-radius: 10px;
}